
@{
    Layout = null;
}

@model List<Drones.Models.Traktor>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Drones Blue and White Robotics</title>
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/Tractor.css">
    <link rel="manifest" href="~/manifest.json" />
    <link rel="icon" type="image/png" href="/Imagenes/favicon.png">
</head>
<body>
    <header>
        <div class="caja">
            <a href="#"><h1><img src="~/Logo/logo-blanco.png" width="190" height="190"></h1></a>
            <nav>
                <ul>
                    <li><a href="@Url.Action("Home", "Home")">Home</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Lista de Tractores</h1>

    @foreach (var traktor in Model.Take(6))
    {
        <div class="card" onclick="mostrarDetalles('@traktor.Descripcion', '@traktor.Modelo', '@traktor.Precio', '@traktor.FichaTecnica')">
            <div class="image-container">
                <img src="@Url.Content("~/Imagenes/tractor.png")" alt="Modelo de Drone">
            </div>
            <div class="details">
                <h3>@traktor.Descripcion</h3>
                <p>Modelo: @traktor.Modelo</p>
                <p>Precio: $@traktor.Precio</p>
                <p>Ficha Técnica: @traktor.FichaTecnica</p>

                <form action="@Url.Action("AgregarAlCarrito", "Home")" method="post">
                    <input type="hidden" name="modelo" value="@traktor.Modelo">
                    <input type="hidden" name="precio" value="@traktor.Precio">
                    <button type="submit" class="cart-button">🛒</button>
                </form>
            </div>
        </div>
    }
    <script>
        function toggleDetails(card) {
            var details = card.querySelector('.details');
            details.style.display = details.style.display === 'none' ? 'block' : 'none';
        }
    </script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js')
                    .then(registration => {
                        console.log('Service Worker registrado con éxito:', registration);
                    })
                    .catch(error => {
                        console.error('Error al registrar el Service Worker:', error);
                    });
            });
        }
    </script>
</body>
</html>

